<h1>My Bookmark List </h1>
<form 
<form action = '/new_bookmark' method = 'get'>
  <input type ="submit" value ="Add Bookmark">
</form>

    
    <ol type="1">
        <% @bookmarks.each do |bookmark| %>
        <li>
        <a href=<%= bookmark[:url] %>><%= bookmark[:title] %></a>
        </li>
    <% end %>
    </ol>
    
 

